[user]
	email = lion.leng@fbi.china.com
	name = Lion leng
[core]
	ignorecase = false
[color]
	ui = true
[alias]
	s = status
	c = checkout
	b = branch
[merge]
	tool = meld
[mergetool "meld"]
	cmd = meld
	trustExitCode = false
[diff]
	tool = meld
[difftool "meld"]
	cmd = d:/Android/Meld/meld.exe  $LOCAL $REMOTE
